@model Product
<div class="col-md-4 col-sm-12 my-3">
    <div class="card" style="width: 18rem;">
    <img width="400" height="250" src="@Model?.ImageUrl" class="card-img-top rounded shadow" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"> <strong class="mx-2">₺</strong> @Model.Price</p>
        <div class="btn-group">
            <a class="btn btn-primary rounded-0" asp-action="GetById" asp-route-id="@Model.Id" >
                <i class="fa-solid fa-arrow-right"></i>
                    <strong class="mx-2"> Ürün Detayı </strong>
            </a>
            <form class="ms-10" id="@Model.Id" asp-page="/CartModel"  method="post">
                <input type="hidden" asp-for="@Model.Id"  />
                <input type="hidden" name="returnUrl" value="/Products/GetById/@Model.Id"  />
                <button type="submit" class="btn btn-outline-warning rounded-0" >
                    <i class="fa fa-cart-plus"></i>
                </button>
            </form>
        </div>
    </div>
    </div>
</div>
