@model IEnumerable<IdentityUser>

<div class="col-sm-12 col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Users</h6>
        <div class="mb-0 w-100 d-flex px-4 mb-3 justify-content-end">
            <a asp-action="Create" asp-controller="User" asp-area="Admin"
                class="btn btn-md btn-outline-success mr-4 rounded-3  right-3">
                Add User
                <i class="fa-regular  fa-square-plus ms-3"></i>
            </a>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>

                    <th scope="col">#ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Operations</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@user.Id</th>

                        <td>@user.UserName</td>
                        <td user-name="@user.UserName" user-role="" ></td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Update" asp-route-id="@user.UserName" class="btn  btn-warning rounded-0">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a asp-action="ResetPassword" title="Reset Password" asp-route-id="@user.UserName"
                                    class="btn btn-info rounded-0">
                                    <i class="fa fa-retweet"></i>
                                </a>
                                <form class="" asp-action="Delete" method="post">
                                    <input type="hidden" name="UserName" value="@user.UserName" />
                                    <button type="submit" class="btn btn-danger rounded-0 ">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>